@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import './scss/variables';
//Layout
@import './scss/layout/navigation';
@import './scss/layout/mobile-sub-nav';

//Fragments
@import './scss/fragments/blog';
@import './scss/fragments/profile-title';
@import './scss/fragments/add-blog-btn';

//Pages
@import './scss/pages/newsfeed';
@import './scss/pages/login';
@import './scss/pages/landing';
@import './scss/pages/signup';
@import './scss/pages/profile';
@import "./scss/pages/blog-detail";

//Modals
@import './scss/modals/react-modal';
@import './scss/modals/add-update-modal';
@import './scss/modals/loading-modal';
@import './scss/modals/alert-modal';
@import './scss/modals/popup-modal';

//Styled Components
@import './scss/styled-components/menu-3dots';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-color: $light-grey;
  color: #000000;   
  padding-bottom: 2rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.3rem;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}