@import "../variables";

.ForgotPassword {
  width: 60%;
  min-height: 17rem;
  max-width: 33rem;
  display: block;
  margin: 1rem auto;
  border-radius: 20px;
  background-color: $white;
  .ForgotPasswordForm {
    @include flexAll(center, flex-start, column);
    background-color: $white;
    padding: 1.5rem 2rem;

    & > * {
      margin: 0.5rem 0;
    }

    h1 {
      margin-bottom: 0.5rem;
    }

    .submitBtn {
      margin-top: 2rem;
      @include styledBtn(7rem, 2rem, 15px);
      align-self: center;
      outline: none;
    }
  }
}
