@import "../variables";

.Signup {
  width: 60%;
  min-height: 40rem;
  max-width: 32rem;
  display: block;
  margin: 1rem auto;
  border-radius: 20px;
  background-color: $white;
  .SignupForm {
    @include flexAll(flex-start, flex-start, column);
    background-color: $white;
    padding: 1.5rem 2rem;
    position: relative;
    top: 0;
    min-height: 40rem;
    height: 100%;
    border-radius: 20px;

    width: 100%;

    & > * {
      margin: 0.5rem 0;
    }

    h1 {
      margin-bottom: 0.5rem;
    }

    .profile-detail {
      margin-bottom: 2rem;
      & > .txt-field {
        margin-bottom: 0.4rem;
      }
      .name {
        @include flexAll(space-between);
        margin-bottom: 0.4rem;
        & > * {
          width: calc(50% - 0.2rem);
        }
      }
      .color-field {
        @include flexAll(space-between);
        margin-bottom: 0.4rem;
        color: grey;
        
      }
    }

    .account-detail {
      & > * {
        margin: 0.2rem 0;
      }
    }

    .submitBtn {
      @include styledBtn(7rem, 2rem, 15px);
      align-self: center;
      outline: none;
    }
  }
}