@import '../variables';

.NewPostModal {
  .NewPostForm {
    @include flexAll(flex-start, flex-start, column);
    position: relative;
    width: 100%;
    min-height: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    & > * {
      margin: 0.5rem 0;
    }
    button {
      align-self: center ;
      position: absolute;
      bottom: 2rem;
      font-size: 20px;
      outline: none;
      border: none;
      border-radius: 10px;
      width: 8rem;
      height: 3rem;
      cursor: pointer;
      &:hover {
        transform: translate(-1px, -1px);
      }
      &:active {
        filter: brightness(90%);
      }
    }
  }
}