@import "../variables";

.AlertModal {
  padding: 1rem 2rem;
  min-width: 25rem;
  max-width: 70%;
  outline: none;
  .AlertContent {
    position: relative;
    .head {
      @include flexAll(space-between);
      .head-left {
        min-width: 30%;
        height: max-content;
        @include flexAll(flex-start, center);
        .icon {
          @include flexAll;
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
          svg {
            height: 85%;
            width: 85%;
          }
        }
        .title {
          margin-left: 0.3rem;
          font-weight: 500;
        }
      }
      .head-right {
        cursor: pointer;
        transform: scale(0.8);
        color: $grey;
        &:hover {
          filter: brightness(50%);
        }
      }
    }
    .content {
      margin: 1rem 0 2rem;
    }
    .foot {
      width: 100%;
      @include flexAll(flex-end);
      button {
        min-width: 6rem;
        min-height: 2rem;
        border-radius: 7px;
        padding: 0 1rem;
        cursor: pointer;
        &:hover {
          filter: brightness(95%);
        }
      }
    }
  }
}
