@import '../variables';

.ReactModalPortal {
  .ReactModal__Overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flexAll;
  }
  .BlurredOverlay {
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 2;
    .ReactModal__Content {
      background-color: $white;
      border: none;
      border-radius: 10px;
    }
  }
  .NoneOverlay {
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 2;
    .ReactModal__Content {
      width: 100%;
      height: 100%;
    }
  }
  .PopupOverlay{
    background-color: none;
    visibility: none;
    opacity: none;
    z-index: 0;
    width: 100%;
    @include flexAll();
  }
}