@import "../variables";

.BlogList {
  @include flexAll(flex-start, center, column);
  width: 40rem;
  max-width: 80%;
  .Blog {
    width: 100%;
    min-height: 12rem;
    margin: 1rem;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 10px 8px 6px rgba(#000000, 0.02);

    &__Inner {
      position: relative;
      overflow-y: auto;
      .head-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 0.5rem;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      padding: 1rem;
      &__Header {
        @include flexAll(space-between, center);
        margin-bottom: 1rem;
        .header-right {
          @include flexAll(flex-end);
          .upload-time {
            transform: translateY(30%);
            margin-right: 1rem;
            font-style: italic;
            color: $grey;
          }
        }
      }
      &__Body {
        white-space: pre-wrap; //to display new line if needed
        overflow: auto;
        .body-header {
          width: 100%;
          @include flexAll(space-between);
          a {
            // left: 50%;
            // transform: translateX(-50%);
            color: black;
            display: inline-block;
            text-decoration: none;
            text-align: right;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        p {
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .images {
        @include flexAll(center, center);
        flex-wrap: wrap;
        & > * {
          width: 30%;
        }
      }
    }
  }
}
