@import '../variables';

.ProfileTitle {
  @include flexAll(flex-start);
  a {
    img {
      @include imgRound(32px, 32px);
    }
  }
  
  .name {
    text-decoration: none;
    margin-left: 0.3rem;
    font-weight: 700;
    &:hover {
      filter: brightness(90%);
    }
  }
}